html {
    background: #ffffff;
}
body {
    margin: 10px;
    padding: 0px 1vw;
    /* Vertical border lines*/
    background: url('vert.png') repeat-y top left,
                url('vert.png') repeat-y right -60vw;
    background-size: auto 90vw;
}
/* Horizontal border lines*/
body::before, body::after {
    display: block;
    content: '';
    background: url('horiz.png') repeat-x 0 -3px;
    height: 2vw;
    background-size: 90vw;
}
body::after {
    background: url('horiz.png') repeat-x 0 1vw;
}

.container {
    text-align: center;
    min-height: 90vh;
    padding: 0 20px;
}

/* Typography */
body {
    font-family: 'Lora', serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif; /* 'Josefin Sans', */
    text-transform: uppercase;
    font-weight: 400;
}
p {
    font-size: 1.1em;
    text-align: left;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 2em;
}
/* Header */
.header h1 {
    font-size: 3.5em;
    margin: 1.6em auto 0.2em auto;
}
.header h2 {
    margin: 0 auto 3em auto;
}
.header img {
    width: 60vw;
}
.header p {
    font-size: 1.2em;
    max-width: 900px;
    margin: 3em auto;
}

/*Work */
.worklist {
    padding: 0;
    list-style: none;
}
.worklist li {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 4em;
}
.worklist__image img {
    width: 60vw;
}
.worklist__description h2{
    margin: 0;
}
.worklist__description p{
    padding: 0 3vw;
    font-size: 1em;
}

@media (min-width: 900px) {
    p {
        text-align: justify;
    }
    .worklist li {
        flex-direction: row;
    }
    .worklist__image img {
        width: 100%;
    }
    .worklist__image {
        flex: 3;
    }
    .worklist__description {
        flex: 5;
    }

    .quotes img {
        position: relative;
        left: 150px;
    }
}

/*Quotes */
.quotes h1 {
    margin-bottom: 1em;
}
.quotes div {
    min-height: 200px;
    transition: all 1.3s ease-out;
}
.quotes span {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif; /* 'Josefin Sans', */
}
.quotes img {
    margin-top: 20px;
    width: 200px;
}

.pre-animation {
    opacity: 0;
}
/* Footer */
footer h1 {
    font-size: 1.6em;
}

@media (min-width: 1200px) {
    .worklist {
        padding: 0 8vw;
    }
    .header img {
        width: 50vw;
    }
    .worklist__description p{
        font-size: 1.1em;
    }
}